<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= link_to image_tag(product.display_image.attachment(:large)), potepan_product_path(product.id) %>
    </div>
    <div class="productCaption clearfix">
      <h5><%= link_to product.name, potepan_product_path(product.id) %></h5>
      <h3><%= link_to product.display_price, potepan_product_path(product.id) %></h3>
    </div>
  </div>
</div>